body {
    margin-left: 25px;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
}

header div {
    margin-top: -1.65em;
}


.lien-telechargement {
    position: absolute;
    right: 1em;
    margin-top: 0.3em;
}

.titre {
    position: absolute;
    margin-left: 1em;
    margin-top: 0;
    margin-bottom: 0px;
    border: 8px inset rgba(15, 155, 15, 0.575);
}

.menu {
    margin: auto;
    width: 22em;
    margin-top: 2px;
}

.categories {
    display: flex;
}

article {
    background: linear-gradient(135deg, rgba(163, 163, 163, 0.733), rgba(209, 209, 209, 0.733));
    border: 3px solid black;
    border-radius: 10px;
    flex: 3;
    margin: 1em;
    font-size: 1.2em;
    padding-right: 1em;
}

.experience {
    flex: 3;
}

.formation, .competence {
    flex: 1.5;
}

h1 {
    text-align: center;
}

.date {
    text-decoration: underline;
}

footer {
    position: relative;
}

.presentation-annexe {
    text-align: center;
    font-size: 1.4em;
    border: 3px solid black;
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(197, 110, 110, 0.623), rgba(184, 35, 35, 0.699));
    width: auto;
    height: auto;
    margin: 1em;
}

@media screen and (max-width: 1024px) {

    body {
        margin: 0px;
    }

    .categories {
        display: grid;
        grid-template-columns: 1;
    }


    header {
        flex-wrap: wrap;
        display: flex;
    }


    .menu {
        text-align: center;
        margin: 0.7em;
        width: 100%;
    }

    .titre {
        position: relative;
        height: auto;
        margin: 2.13em 0 0.3em 1em;
    }


    .lien-telechargement {
        position: absolute;
        width: auto;
        text-align: right;
        margin-top: 2.1em;
    }

    .logo {
        width: 1em;
    }

    header div {
        display: flex;
        height: auto
    }
}


@media screen and (min-width:1024px) and (max-width:1270px) {

    .menu {
        width: 40%;
    }

    .lien-telechargement {
        width: 20%;
    }
    
}